/***********************MAIN ELEMENTS********************/

div {
  border-radius: 15px;
}
h5 {
  line-height: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}
h6 {
  line-height: 0;
  opacity: 50%;
  margin-top: none;
  margin-block-start: 1rem;
}
p {
  font-size: 13px;
  opacity: 70%;
  font-weight: 500;
}
html {
    height: 100%;
}
body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: light gray;
  display: flex;
}
/*************CLASSES for main bits**************/
/* body > div {
  margin: auto;
} */

.daniel-jonathan {
  display: flex;
}
.jeanette-patrick {
  display: flex;
}

.orange-wrapper {

}

.main-quote {
  font-weight: 600;
  font-size: 20px;
}

.padding-box-quotes {
  width: 35%;
  padding: 1.9rem;
}
.round-image {
  border-radius: 100%;
  border-color: white;
  border-style: solid;
  border-width: 2.5px;
  float: left;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}
/*********************BOXES for people****************************/

.daniel-box {
  background-color: hsl(263, 55%, 52%);
  color: hsl(210, 46%, 95%);
  width: 30rem;
  height: 13rem;
}

.jonathan-box {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 81%);
  width: 12rem;
  height: 13rem;
}
.kira-box {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  width: 12rem;
  height: 30rem;
}
.jeanette-box {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  width: 12rem;
  height: 12rem;
}

.patrick-box {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 81%);
  width: 30rem;
  height: 12rem;
}
.outer-margin {
  margin: 0.8rem;
}
.kira-flex-box {
  display: flex;
}
.quote-mark {
    background-image: url(images/quote-mark-01.png) ;
    background-position: right;
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position-y: -2rem;
    background-position-x: 22rem;
}
    .picture {
       height: 2rem;
       width: 2rem;
        

    

}